.title-label {
    -fx-font-size: 24pt;
    -fx-font-family: "Source Code Pro Black";
    -fx-text-fill: antiquewhite;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.mode-label {
    -fx-font-size: 20pt;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: antiquewhite;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-opacity: 1;
}

.remaining-label {
    -fx-font-size: 14pt;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-opacity: 1;
    -fx-background-image: url("images/remaining.png");
    -fx-background-repeat: no-repeat;
}

.menu-button {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-text-fill: antiquewhite;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

#menu-image {
    -fx-background-image: url("images/menu.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

#menu-id-image {
    -fx-background-image: url("images/menu_id.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

#menu-mode-image {
    -fx-background-image: url("images/menu_mode.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

#menu-modedisplay-image {
    -fx-background-image: url("images/menu_modedisplay.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

.grid {
      -fx-font-size: 12pt;
      -fx-font-family: "Arial";
      -fx-text-fill: antiquewhite;
      -fx-font-weight: bolder;
      -fx-opacity: 1;
      -fx-background-color: transparent;
}

.grid-openlevel {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
}

#grid-openlevel-image {
    -fx-background-image: url("images/grid_openlevel.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

#grid-unselected-image {
    -fx-background-image: url("images/grid_unselected.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

#grid-selected-image {
    -fx-background-image: url("images/grid_selected.png");
    -fx-background-repeat: round;
    -fx-background-position: center center;
}

#close-button-image {
    -fx-background-image: url("images/close.png");
    -fx-background-repeat: no-repeat;
    /*-fx-background-position: center center;*/
}

#background {
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: round;
}
