.title-label {
    -fx-font-size: 24pt;
    -fx-font-family: "Source Code Pro Black";
    -fx-text-fill: antiquewhite;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.mode-label {
    -fx-font-size: 20pt;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: antiquewhite;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-opacity: 1;
}

.remaining-label {
    -fx-font-size: 14pt;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-opacity: 1;
    -fx-background-image: url("images/remaining.png");
    -fx-background-repeat: no-repeat;
}

.menu-button {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-text-fill: antiquewhite;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.mode-list {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: grey;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

#menu-image {
    -fx-background-image: url("images/menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}

#menu-id-image {
    -fx-background-image: url("images/menu_id.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}

#menu-mode-image {
    -fx-background-image: url("images/menu_mode.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}

#menu-modedisplay-image {
    -fx-background-image: url("images/menu_modedisplay.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}

.grid {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: antiquewhite;
    -fx-text-alignment:center;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
    -fx-background-color:
    linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e0f,
    radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.grid-selected {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: antiquewhite;
    -fx-text-alignment:center;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
    -fx-border-color: yellow;
    -fx-border-width: 3;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e0f,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.grid-openlevel {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-text-alignment:center;
    -fx-font-weight: bolder;
    -fx-opacity: 1;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ffffff 0%, #ffffff 100%),
            #ffffff,
            #ffffff,
            radial-gradient(center 50% 50%, radius 100%, #ffffff, #ffffff);
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );*/
}

#pause-button-image {
    -fx-background-image: url("images/pause.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}

#play-button-image {
    -fx-background-image: url("images/play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}


#close-button-image {
    -fx-background-image: url("images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 1;
}

#background {
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: round;
}
